h1 {
    font-style: italic;
}

table {
    margin-left: 20px;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 8px;
}

th {
    color: white;
    background: red;
}

tr:nth-child(even) {
    background: white;
}

tr:nth-child(odd) {
    background: #ffcccc;
}

body {
    background: #dddddd;
}

:target {
    background: #00bcd4 !important;
}

option {
    margin: 0px 8px 0px 8px;
}

form {
    margin: 16px;
    border: 1px solid black;
    padding: 8px;
    width: 500px;
}

.hidden {
    display: none;
}

button {
    padding: 4px;
    margin: 8px;
}