<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Learning Outcomes System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/programs.js"></script>
    <script src="/courses.js"></script>
    <script src="/categories.js"></script>
    <script src="/learningOutcomes.js"></script>
    <script src="/mode.js"></script>
</head>
<body>

<h1>Select Mode</h1>
<input id="createMode" type="radio" name="mode" value="create" checked />
<label for="createMode">Create</label>
<input id="deleteMode" type="radio" name="mode" value="delete" />
<label for="deleteMode">Delete</label>
<input id="updateMode" type="radio" name="mode" value="update" />
<label for="updateMode">Update</label>

<div id="create">
    <h1>Create Category</h1>
    <form id = "categoryForm" action="#" method="post">
        <p>Category Name: <input type="text" name="name" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

    <h1>Create Learning Outcome</h1>
    <form id="outcomeForm" action="#" method="post">
        <p>Learning Outcome Name: <input type="text" name="name"/></p>
        <p>Category List (single selectable): <select id="categorySelect" name="category"></select></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>

    <h1>Create Course</h1>
    <form id = "courseForm" action="#" method="post">
        <p>Course Name: <input type="text" name="name" /></p>
        <p>Course Year:  <input type="number" name="year" /></p>
        <p>Learning Outcomes (multiple selectable): <select multiple="" id="outcomeSelect" name="outcomes[]"></select></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

    <h1>Create Program</h1>
    <form id="programForm" action="#" method="post">
        <p>Program Name: <input type="text" name="name"/></p>
        <p>Course List (multiple selectable): <select multiple="" id="programCoursesSelect" name="courses[]"></select></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>

<div id="delete" class="hidden">
    <h1>Delete Category</h1>
    <form id="deleteCategoryForm" action="#">
        <p>Category To Delete: <select id="deleteCategorySelect" name="id"></select></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>

    <h1>Delete Learning Outcome</h1>
    <form id="deleteOutcomeForm" action="#">
        <p>Learning Outcome To Delete: <select id="deleteOutcomeSelect" name="id"></select></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>

    <h1>Delete Course</h1>
    <form id="deleteCourseForm" action="#">
        <p>Course To Delete: <select id="deleteCourseSelect" name="id"></select></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>

    <h1>Delete Program</h1>
    <form id="deleteProgramForm" action="#">
        <p>Program To Delete: <select id="deleteProgramSelect" name="id"></select></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>

<div id="update" class="hidden">
    <h1>Update Program</h1>
    <form id="updateProgramForm" action="#">
        <p>Program To Update: <select id="updateProgramSelect" name="id"></select></p>
        <p>Program Name: <input id="updateProgramName" type="text" name="name"/></p>
        <p>Course List (multiple selectable): <select multiple="" id="programUpdateCoursesSelect" name="courses[]"></select></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>

    <h1>Update Course</h1>
    <form id="updateCourseForm" action="#">
        <p>Course To Update: <select id="updateCourseSelect" name="id"></select></p>
        <p>Course Name: <input id="updateCourseName" type="text" name="name"/></p>
        <p>Course Year: <input id="updateCourseYear" type="number" name="year"/></p>
        <p>Learning Outcomes List (multiple selectable): <select multiple="" id="courseUpdateOutcomesSelect" name="outcomes[]"></select></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>

    <h1>Update Category</h1>
    <form id="updateCategoryForm" action="#">
        <p>Category To Update: <select id="updateCategorySelect" name="id"></select></p>
        <p>Category Name: <input id="updateCategoryName" type="text" name="name"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>

    <h1>Update Learning Outcome</h1>
    <form id="updateOutcomeForm" action="#">
        <p>Learning Outcome To Update: <select id="updateOutcomeSelect" name="id"></select></p>
        <p>Learning Outcome Name: <input id="updateOutcomeName" type="text" name="name"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>

<h1>Programs</h1>
<div>
    <table id="allPrograms"></table>
</div>

<h1>Courses</h1>
<div>
    <table id="allCourses"></table>
</div>

<h1>Categories</h1>
<div>
    <table id="allCategories"></table>
</div>

<h1>Learning Outcomes</h1>
<div>
    <table id="allLearningOutcomes"></table>
</div>

</body>
</html>
