<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Learning Outcomes System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/programs.js"></script>
    <script src="/courses.js"></script>
    <script src="/categories.js"></script>
    <script src="/learningOutcomes.js"></script>
    <script src="/queries.js"></script>
</head>
<body>

<h1>Programs</h1>
<div>
    <table id="allPrograms"></table>
</div>

<h1>Courses</h1>
<div>
    <table id="allCourses"></table>
</div>

<h1>Learning Outcomes</h1>
<div>
    <table id="allLearningOutcomes"></table>
</div>

<h1>Additional Queries</h1>
Select a Program: <select id="programSelect" name="program"></select> <br/>
Enter a Year in the Program: <input type="number" id="programYear" name="programYear" /><br/>
Select a Category of Learning Outcome: <select id="categorySelect" name="category"></select><br/>
Select a Course of the Program: <select id="courseSelect" name="course"></select><br/>
<br/>
<button id="coursesInProgramYear">List Courses in Program Year</button><br/>
<button id="listLearningOutcomesOfProgramYear">List Learning Outcomes and Categories in Program Year</button><br/>
<button id="listCourseOfCategory">List Courses with Learning Outcomes in a Category</button><br/>
<button id="categoriesOfProgramYear">List Categories of a Program Year</button><br/>
<button id="learningOutcomesOfCategoryInProgramYear">Learning Outcomes of a Category in a Program Year</button><br/>
<button id="learningOutcomesOfCourseInGivenProgramYear">Learning Outcomes of a Course in a Program Year</button><br/>
<br/>
<div>
    <table id="queryResult"></table>
</div>

<div id="export"></div>
</body>
</html>
