<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Learning Outcomes System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/programs.js"></script>
    <script src="/courses.js"></script>
    <script src="/categories.js"></script>
</head>
<body>

<h1>Programs</h1>
<div>
    <table id="allPrograms"></table>
</div>

<h1>Courses</h1>
<div>
    <table id="allCourses"></table>
</div>
</body>
</html>
