<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Learning Outcomes System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/programs.js"></script>
    <script src="/courses.js"></script>
</head>
<body>

<form id="programForm" action="#" method="post">
    <p>Program Name: <input type="text" name="name"/></p>
    <p>Course List (multiple selectable): <select multiple="" id="programCoursesSelect" name="courses[]"></select></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

<form id = "courseForm" action="#" method="post">
    <p>Course Name: <input type="text" name="name" /></p>
    <p>Course Year:  <input type="number" name="year" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<h1>Programs</h1>
<div>
    <table id="allPrograms"></table>
</div>

<h1>Courses</h1>
<div>
    <table id="allCourses"></table>
</div>
</body>
</html>
